In [1]:
import pandas as pd

x_text = "x_train.txt"
y_text = "y_train.txt"


x_clients = "x_test.txt"

df_variables = pd.read_csv(
    x_text,
    delimiter=" ",
    header=None,
)

df_labels = pd.read_csv(
    y_text,
    delimiter=" ",
    header=None,
)

df_variables_clients  = pd.read_csv(
    x_clients,
    delimiter=" ",
    header=None,
)

In [2]:
df_variables.head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,20.454647,16.739345,39.811892,24.955468,27.088535,17.116793,25.166957,23.364508,17.223886,18.339175,...,13.235314,5.160379,29.194846,17.298314,6.414267,7.780568,6.840910,18.295197,10.014028,6.938318
1,16.175225,10.483281,27.471017,18.509824,19.045353,15.039082,21.354915,15.790575,13.912508,13.772518,...,13.355832,2.609716,8.624576,9.371632,11.789219,9.205471,15.204468,8.358906,8.529152,8.021473
2,10.577212,10.795115,24.621388,17.264747,14.221610,8.754692,18.399259,11.358798,15.432650,14.842153,...,15.179359,10.200144,12.645303,12.147416,8.899863,13.954543,12.356942,16.364696,3.817956,4.094035
3,26.299206,13.471215,51.725934,40.786947,26.052414,33.200702,51.014330,27.685009,33.107991,25.359457,...,7.693654,6.359187,5.760296,5.699580,9.895795,17.011648,12.031000,14.637973,10.172737,10.525373
4,23.193955,20.037969,37.780290,28.983748,25.510508,15.970348,27.930757,20.707354,25.341768,27.118987,...,7.068407,7.180632,12.517752,9.026493,7.748172,10.363749,7.099588,12.467672,11.545619,9.098600

In [3]:
df_labels

      0
0     1
1     0
2     0
3     1
4     1
...  ..
4995  0
4996  0
4997  0
4998  1
4999  0

[5000 rows x 1 columns]

In [4]:
Gain_Max_Households = 20*1000
Max_Variables_Possibles = Gain_Max_Households // 200 
print("Max Variables Possible: ", Max_Variables_Possibles)

Max Variables Possible:  100

In [5]:
from sklearn.feature_selection import mutual_info_classif
import numpy as np


def select_features(X_train, y_train, threshold=0.01):
    mi_scores = mutual_info_classif(
        X_train, y_train, discrete_features=False, random_state=0
    )

   
    selected_indices = [i for i, score in enumerate(mi_scores) if score > threshold]

    return selected_indices

In [7]:
from sklearn import svm
from sklearn.model_selection import StratifiedKFold
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
import numpy as np


model = make_pipeline(
    StandardScaler(), svm.SVC(kernel="linear", C=1.0, probability=True, random_state=42)
)
skf = StratifiedKFold(n_splits=10, shuffle=True, random_state=42)

X = df_variables.values
y = df_labels.values.ravel()

Average_Predicted_Gain = 0
index = 0

for train_index, test_index in skf.split(X, y):
    index += 1
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]

    selected_features = select_features(X_train, y_train, threshold=0.01)

    model.fit(X_train[:, selected_features], y_train)
    y_pred = model.predict(X_test[:, selected_features])
    
    predicted_cash = accuracy_score(y_test, y_pred) * 20 * 1000
    Cost = 200 * len(selected_features)
    predicted_gain = predicted_cash - Cost
    print(f"Fold {index}: predicted accuracy = {accuracy_score(y_test, y_pred):.2f}")

    Average_Predicted_Gain += predicted_gain

# Average gain
Average_Predicted_Gain /= skf.get_n_splits()
print("Average Predicted Gain: ", Average_Predicted_Gain)

Fold 1: predicted accuracy = 0.69
Fold 2: predicted accuracy = 0.74
Fold 3: predicted accuracy = 0.69
Fold 4: predicted accuracy = 0.71
Fold 5: predicted accuracy = 0.70
Fold 6: predicted accuracy = 0.70
Fold 7: predicted accuracy = 0.72
Fold 8: predicted accuracy = 0.68
Fold 9: predicted accuracy = 0.68
Fold 10: predicted accuracy = 0.69
Average Predicted Gain:  2419.999999999999

### Leaderboard part

In [8]:
selected_features_final = select_features(X, y, threshold=0.01)
model.fit(X[:, selected_features_final], y)

X_clients = df_variables_clients.values
proba_preds = model.predict_proba(X_clients[:, selected_features_final])[:, 1]


top_1000_indices = np.argsort(proba_preds)[-1000:][::-1]
top_1000_clients = df_variables_clients.iloc[top_1000_indices]

print("Top 1000 clients selected.")

Top 1000 clients selected.

In [11]:
selected_features_final

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 24,
 28,
 34,
 39,
 45,
 48,
 75,
 90,
 94,
 100,
 121,
 135,
 136,
 171,
 226,
 238,
 242,
 245,
 263,
 287,
 313,
 314,
 318,
 323,
 356,
 376,
 386,
 387,
 405,
 409,
 413,
 414,
 416,
 425,
 435,
 442,
 443,
 444,
 448,
 460,
 462,
 471,
 484,
 493,
 495]

In [10]:
top_1000_indices

array([4755, 3866, 2792, 2084, 3780, 4354,  281, 3347, 2735, 4430, 1361,
       3789, 3447, 1020, 2822, 4674, 4068, 3509,  405, 2268, 1288, 4880,
       4008, 2656,   79, 3147, 4075, 3654, 4344, 2983, 4093, 3383, 3571,
       1622,  512, 2576, 3070, 4550, 1734, 3250, 3672,    2, 3375, 2803,
       4192,  384, 3449, 1868, 1866, 2216, 2689, 3954,  883, 1830, 3020,
       1057, 4829, 2908,  681, 3115, 3774, 3942, 4480, 1053, 2481, 4479,
       4123,  254, 3312, 4551, 1805, 2368, 4235, 2707, 3825, 2386, 4445,
       4290, 3451,  129, 4745, 2456, 4895,   96, 3784,  415, 2020, 1286,
       1711, 2243,  492, 3521,  280, 2612, 3693, 2424, 2997, 2031, 1474,
       1493, 3114, 4429, 4908,   80, 4856, 1094, 1756, 1165, 1606, 1170,
       1872, 3182,  109, 2985, 1826, 2321, 3444, 4470, 3483, 2700, 4109,
       3439, 1320,  207, 1137, 3833,  149, 4749, 4519, 3335, 1243,  868,
        549, 2431, 3283, 4009, 4619, 1428, 2292, 4754, 1233, 2353, 3925,
       4320, 2489, 3120,  524,  920, 1246, 1559, 1777, 3063, 2271, 3198,
        749, 4273, 1498, 4859, 4683, 4598, 4027, 3178, 3576,  987, 2824,
       3939, 2669, 4766, 1446, 4671, 4617, 1408, 2029, 2342,  232, 2712,
       2654,  791, 2328, 3510, 1938, 3535, 2298, 2334, 2993, 4271, 3356,
       4452,  490, 1127, 1698, 1825, 3333, 3000, 2620, 2288, 2496, 2514,
       2203, 1534, 4304, 4141, 1003, 1561, 1573, 1335, 4635,  451, 1216,
       3112,  550, 4331, 1525,  662, 2634, 1476,  395, 3762, 2402, 4952,
       4780, 4915, 2859, 3832,  474, 2396, 2211, 3583, 3841, 4018, 3799,
       1356, 1369, 3445, 3166, 4831, 2398, 1457,  273, 3806, 1731, 1585,
        163, 1256, 1407, 3321, 3485, 4775, 3441,  131, 2916, 2749, 3906,
       3080,   98, 1254, 2195, 1907, 1888, 4826, 2374, 1890,  967, 2995,
       3872, 1577, 2267, 1689, 3793, 4922, 1782, 4538, 2726,  107, 2556,
       4345, 2827, 4050, 3965, 2617, 4601, 4882, 2302, 3481, 2949, 1469,
       1723, 2042, 4910,  270, 3272, 2218, 1672, 2635,  278,  664,   36,
       1774, 2337,  836,  707, 3327, 3458, 4394, 4802,  693, 4920, 1199,
       4723, 4586, 3743, 4762, 1375, 1732, 4120, 2454, 1079, 2755, 1722,
        108,  555, 1611, 4314, 1709, 4262, 4337, 4197, 4956, 3977,  253,
       3573,  698,  685, 2798, 3243, 3038, 1391,   23, 3116, 2221, 1755,
       3554, 4297, 3052,  882, 4168, 4605, 1550, 2886, 4873, 4306, 4720,
       3099,  824, 2004, 1969, 3392, 2129, 4102, 3282,  313, 3015, 3608,
       2618,  667,  432,   62, 3524, 1092, 1554, 3537, 4760,  961, 1983,
       3201, 1300, 2294, 2363, 3958, 4566, 4139, 2043, 4953, 4411,  319,
       1309, 1135, 4627, 2570, 1879,  369, 1331, 4143, 3933, 3126, 1547,
       1638, 4535, 1100, 4184, 1043, 1651, 2699, 2233, 3151, 4549, 3432,
       4425, 3859, 4088, 4666,  618, 2452, 2001, 2086, 1030, 4443, 2361,
       2095, 1842, 2155, 1966,  843,  683, 2313, 2499, 2279, 4997, 1700,
       1790, 4737, 1984,  726, 1238, 3141, 3009, 3912, 1745, 2116, 2470,
       4420,  431, 3315, 1419, 1306, 1315, 2554,  140, 4350,  289, 1218,
       1742, 3989,  493, 2984,  875, 4446, 2577, 3372, 1152,  630, 1632,
       1555,  279, 4892, 1149, 1529, 3489, 2978, 2928, 3790, 2825, 2567,
        584, 4969, 3998, 4475, 1490, 1077, 3526, 3360, 1289, 3412,  421,
        467, 1180, 1539, 1345, 3468,  566, 2641,  372, 1177, 3505, 2604,
       1903, 1892, 1344, 2360, 1610, 3331,  861, 1724,  894, 1761, 4663,
       2161,   84, 2642,  489, 3626, 2864,  601, 2349, 2657, 3953, 1786,
       3858, 4837, 1816, 2222,  854, 3270, 3777, 4386,  433, 2912,  527,
        391, 1368, 3219, 1093, 2014,  103,  748, 2723, 3727, 1283, 4371,
       3092, 3423, 2287, 1338, 1049, 3675, 1667, 1461, 1435, 2372, 1008,
       3898, 2509, 3330, 4542, 3985, 2273, 1187, 3294,  985, 4821, 4693,
       4338, 2283, 2331,   68, 2667, 2857, 2541,  132, 4277, 3303, 3403,
       2765, 1067, 4869, 4991, 1874, 4552, 1543, 3440,  696, 4797, 3139,
       3579, 2410, 2519,  331, 1497,  574, 4439,  202, 4854, 4159, 3026,
       3893, 4148, 1992, 3856, 2285, 4492, 2791, 4264, 2008,  531, 2788,
        953, 3870, 1873, 3874,  330, 3492, 4381, 3689, 1025, 1102, 2165,
       4876,  521, 3068, 4388, 1068, 1116, 3941,  604, 3857, 4214, 1047,
        671, 3704, 2622, 3001, 2235, 3353, 4078, 1925,  485, 2091, 2383,
       2026, 3722, 4056,  208, 2394,  673,  394, 3538, 4798, 3061, 2047,
       4210, 1614, 4514, 3497,  558, 4534, 3479, 3467, 4539, 4369,  901,
       4353,  271, 3277, 4993, 2186, 3456, 4253,   94, 1949, 1591, 4163,
       3252, 1491,  347, 4899, 1410, 3827,  647, 4126, 4365, 3078,  734,
       1930, 4958, 3017, 2706, 4387,  426, 1947,  101, 2469,  420, 3402,
       2961, 4072, 2087, 1640,  790, 3205,  758, 1883, 2423,   60, 4688,
        687, 1386, 2125, 4039, 4809, 2821, 2662, 1743, 3048, 2063, 2484,
       2747,  366, 2796, 4372, 1239, 3588, 2780, 3003, 3083, 2903, 4501,
       4545, 2468,  631, 2239, 2628, 3803, 4347, 1588,  641, 1971, 3355,
       2244, 4814,  576, 4751, 4042, 4255, 3902, 4929, 3241,  965, 2560,
       1108, 2587,  222,   33,  859, 4710, 4309,  807, 2895, 4568, 2465,
       3012, 3785, 1282, 1570, 2681, 1970, 3546, 2557, 2143,  621, 1791,
       2721, 4949, 4495, 3426, 3846,  850,  617, 1197, 1737, 4129, 3726,
       1898, 2126, 4491, 1342,  648, 4714, 4216, 2005,   75, 3618, 1506,
       4435, 4608, 1541, 1565, 1753, 3873, 3796,  554, 2369, 2189, 4963,
       2660, 3888, 1863, 1460,   65,  470, 3747, 2750,  469, 2725, 3996,
        104, 1977, 3019,  327, 4981, 3194, 1091, 3671, 3864, 1185, 3716,
       4877, 4097, 4395,  587, 3670, 3184, 2177, 2901, 4510, 2054, 1758,
       2764, 1537, 4757, 4373, 2385,  764, 4131, 2651, 1076, 3384, 2133,
         46, 4457, 3513, 3149, 2965, 1414,  535, 1226, 1655, 3871, 2521,
       3259, 4403, 1841, 2704, 3022, 1746, 2483, 2316, 3128, 4136, 3361,
       3865, 2466, 2121, 4079,  974, 3810, 2485,  556, 2738, 4523, 2257,
       3367, 1045,  119, 2062, 1974, 3921,  620, 4113, 1718, 2022, 2277,
        708, 1349,  364, 3879, 3602, 2260, 3159, 4147, 2344,   97, 3885,
       2982, 2444, 4893, 1314, 2421,  993, 1396, 4842, 2167, 1232, 1721,
       4883,  335,  955, 1544,  872, 4948, 4263,  311, 1703, 3249, 3802,
       2009, 4076,  196, 1385,   76,  487, 2980, 1548, 2648, 3322, 3438,
        507, 1692, 2529, 2732, 4554, 1360,  264, 1329, 4654, 1374, 2462,
       4187, 1927, 2944,  255, 3081, 1897, 2843,  113,  265,   72, 3156,
       4509, 1482, 4713, 2275, 3027, 1101, 4124, 3117, 3016, 2493, 3422,
       2412, 2600, 3931, 3429, 2389, 1212, 2480, 4086,  296, 2261, 1260,
       2933, 4707, 1402,  283, 3652, 3279, 4556, 3616, 1749, 4592, 3459,
       3530, 3221, 3301,  803, 2921, 1910, 2281,  237,  831, 1571],
      dtype=int64)